/* Imports */



/* Variables */

/* Overall */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #383838;
  color: #faf9f6;
}


/* Typography */ 
h1 {
    font-size: 64;
    font-weight: 200;
       
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

p {

}

a {

}

/* Logo */
#logo {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24;
}

/* Nav */
#nav {
    position: fixed;
    top: 20px;
    right: 20px;
}

#nav li {
    display: inline-block;
    font-size: 24; 
    margin-right: 40px;   
}

#nav li:hover {
    color: rgb(135, 0, 197);
    transition-duration: 500ms;
    transform: scale(2) rotate(360deg);
    cursor: pointer;
}

#nav li:not(:hover) {
    color: #faf9f6;
    transition-duration: 500ms;
  
}


#heroText {
    top: 50vh;
    margin-top: 40vh;
}

#bio {
    background-image: url('../images/bio-bg.jpg');
    background-size: cover;
    background-attachment: fixed;

}

/* Page Layout */
.section {
    min-height: 100vh;
}

.caseStudy {
    background-color: red;
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}